.navbar {
	display: flex;
	background-color: black;
	justify-content: space-between;
	padding: 2rem;
	align-items: center;
	gap: 1rem;
}

a {
	text-decoration: none;
	color: white;
}

a > h1 {
	font-size: 3rem;
	border-right: 3px solid white;
	padding-right: 1rem;
}

a > h3 {
	font-size: 2rem;
}

.nav-end {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.cart-container {
	display: grid;
	grid-template-columns: 2fr 6fr 2fr 0.5fr;
	justify-content: space-between;
	width: 100%;
}

.cart-title {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	padding: 1rem;
}

.cart-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cart-image {
	padding: 1rem;
}

.cart-image img {
	width: 5rem;
	height: 5rem;
}

.cart-btn {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
