.navbar {
	display: flex;
	background-color: black;
	justify-content: space-between;
	padding: 2rem;
	align-items: center;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

a > h1 {
	font-size: 3rem;
}

a > h3 {
	font-size: 2rem;
}
