.store-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 2rem;
	padding: 2rem;
	text-align: center;
	max-width: 1500px;
	justify-content: center;
}

.shop-container {
	background-color: #e5e5e5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	max-width: 1500px;
	background-color: white;
}

#title {
	width: 100%;
	margin: 0;
	padding: 2rem 0 0 2rem;
}

.item {
	display: flex;
	flex-direction: column;
	border: 0px solid black;
	border-radius: 1em;
	justify-content: space-between;
	padding: 1rem;
	background-color: white;
}

.item:hover {
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.item img {
	max-width: 100%;
	height: auto;
}

.item div {
	margin-top: 1rem;
}

.item input {
	width: 4rem;
	text-align: center;
}

.item h3 {
	font-size: 1.2rem;
	font-family: "Courier New", Courier, monospace;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.item-buttons {
	display: flex;
	flex-direction: column;
}

.quantity-container button {
	font-weight: bold;
	font-size: 1.5rem;
	background-color: none;
	background: none;
	border: none;
}

.quantity-container button:hover {
	color: #22c55e;
}

.quantity-container input {
	font-size: 1.5rem;
}

#add-btn {
	background-color: #22c55e;
	border: none;
	border-radius: 0.5rem;
	padding: 1rem 2rem;
	width: 100%;
	cursor: pointer;
	font-size: 1rem;
}

#add-btn:hover {
	background-color: #86efac;
}
